block navigation
  nav.navbar.navbar-light.bg-faded
    div.container-fluid.rounded      
        a(href="/" class="navbar-brand") Latests transfers
        a(href="trees" class="navbar-brand") Trees Report
        a(href="votes" class="navbar-brand") Not voted Report
        a(href="queue" class="navbar-brand") Pending to be vote
        a(href="full" class="navbar-brand") All transfers