block navigation
  nav.navbar.navbar-light.bg-faded
    div.container-fluid.rounded
        a(href="?trees" class="navbar-brand") Trees Report
        a(href="#" class="navbar-brand") Not voted Report
